*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 10px is 62.5% of 16px (default browser font size) */
html {
    // Defines what 1rem is. 1rem = 10px [10px/16px = 62.5]
    font-size: 62.5%;
    height:100%;
}
  
body {
   box-sizing: border-box;
   padding: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.container {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}