@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media (max-width: 350px) { @content };
  }

  @if $breakpoint == tab-land {
      @media (max-width: 1199px) { @content }; /*1199px*/
  }
}

#coming-soon {
  color: $color-yellow-dark;
  font-size: 5rem;
  position: absolute;
  right: 9rem;
  top: 15rem;
  transform: rotate(45deg);

  @include respond(tab-land) {
    right: 1rem;
    top: 6rem;
    font-size: 4rem;
  }
  @include respond(phone) {
    font-size: 3rem;
  }
}

.heading {
  width: 45rem;
  position: absolute;
  z-index: 10;
  top: 25rem;
  right: 48rem;
  color: $color-black;

  @include respond(tab-land) {
    width: 27rem;
    top: 19rem;
    right: 3rem;
  }
  @include respond(phone) {
    width: 27rem;
    top: 19rem;
    right: 0rem;
    font-size: 3rem;
  }
}

.composition__blob--1 {
  animation: morph1 7s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 30rem;
  width: 30rem;
  transition: all .5s ease-in-out;
  z-index: 6;
  position: absolute;
  top: 9rem;
  right: 67rem;
  background-color: $color-yellow-medium;
  transform: rotate(45deg);

  @include respond(tab-land) {
    height: 15rem;
    width: 15rem;
    top: 16rem;
    right: 17rem;
  }

  @include respond(phone) {
    height: 10rem;
    width: 10rem;
    top: 16rem;
    right: 18rem;
  }
}

.composition__blob--2 {
  animation: morph2 5s ease-out infinite;
  border-radius: 22% 78% 41% 59% / 64% 76% 24% 36%;
  height: 34rem;
  width: 36rem;
  transition: all .5s ease-out;
  z-index: 5;
  position: absolute;
  top: 12rem;
  right: 45rem;
  transform: rotate(45deg);
  background-color: $color-red-light;

  @include respond(tab-land) {
    height: 17rem;
    width: 18rem;
    top: 17rem;
    right: 8rem;
  }
  @include respond(phone) {
    height: 12rem;
    width: 13rem;
    top: 15rem;
    right: 8rem;
  }
}

.composition__blob--3 {
  animation: morph3 8s ease-in infinite;
  border-radius: 49% 51% 23% 77% / 54% 57% 43% 46%;
  height: 31rem;
  width: 34rem;
  transition: all .6s ease-in;
  z-index: 2;
  position: absolute;
  top: 15rem;
  right: 61rem;
  transform: rotate(45deg);
  background-color: $color-primary-light;

  @include respond(tab-land) {
    height: 15rem;
    width: 17rem;
    top: 21rem;
    right: 15rem;
  }
  @include respond(phone) {
    height: 14rem;
    width: 15rem;
    top: 14rem;
    right: 10rem;
  }
}

.composition__blob--4 {
  animation: morph4 4s linear infinite;
  border-radius: 26% 74% 43% 57% / 25% 26% 74% 75%;
  height: 40rem;
  width: 33rem;
  transition: all .5s linear;
  z-index: 4;
  position: absolute;
  top: 5rem;
  right: 43rem;
  background-color: $color-blue;

  @include respond(tab-land) {
    height: 20rem;
    width: 17rem;
    top: 13rem;
    right: 5rem;
  }
  @include respond(phone) {
    height: 15rem;
    width: 12rem;
    top: 13rem;
    right: 1rem;
  }
}


.text-box {
  margin-top: 50rem;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  @include respond(tab-land){
    margin-top: 40rem;
  }
  @include respond(phone){
    margin-top: 30rem;
  }

  h1 {
      
      justify-self: center;
  }
}

.detail-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  img {
    margin-bottom: -5rem;
    @include respond(tab-land){
      height: 25rem;
    }
  }
}

.full-row {
  width: 100%;
  @include respond(tab-land) {
    height: 100vh;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
