@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 35.9375em) { @content }; /*575px*/
    }
  
    @if $breakpoint == large-phone {
        @media (max-width: 47.9375em) { @content }; /*767px*/
    }
  
    @if $breakpoint == tab-port {   
        @media (max-width: 61.9375em) { @content }; /*991px*/
    }
  
    @if $breakpoint == tab-land {
        @media (max-width: 74.9375em) { @content }; /*1199px*/
    }
  
    @if $breakpoint == small-lap {
        @media (max-width: 87em) { @content }; /*1392px*/
    }
  }

.navbar {
    height: 100vh;
    width: 16rem;
    position: fixed;
    top: 0;
    left: 0;
    text-transform: uppercase;
    padding: 14rem 0rem 14rem 0rem;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
    }

 

    &__link {
        color: black;
        margin: 2rem;
        &::after {
            display: block;
            content: '';
            border-bottom: solid 3px $color-yellow-dark;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
            transform-origin: 100% 50%;
          }

        &:hover {
            color: $color-yellow-dark;
            &::after {
                transform: scaleX(1); 
                transform-origin: 0% 50%;
            }
        }
    }
}