@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media (max-width: 350px) { @content };
  }

  @if $breakpoint == tab-land {
      @media (max-width: 1199px) { @content }; /*1199px*/
  }
}

/*Colours*/

$color-grey: #9BA39F;
$color-light-grey: #F7FBF9;
$color-white: #fff;
$color-black: #36463E;
$color-primary-dark: #339966;
$color-primary-medium: #66B38C;
$color-primary-light: #99CCB3;
$color-yellow-dark: #FBD359;
$color-yellow-medium: #FCDE83;
$color-yellow-light:#FDE9AC;
$color-red-dark: #DE5E35;
$color-red-medium: #E68668;
$color-red-light: #EFAF9A;
$color-blue: #A7D3E0;

/*Custom Font and Typography*/

@font-face {
  font-family: 'Leafy';
  src: url("../leafy.woff") format('woff');
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $color-primary-medium; 
}

h1 {
  font-family: 'Leafy';
}

h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: black;
}

h2 {
 font-size: 2rem;
  @include respond(tab-land){
    font-size: 1.7rem;
  }
}

h3 {
 font-size: 1.8rem;
}

p {
 font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.paragraph {
  margin: 2rem;
  @include respond(tab-land) {
    margin: 1rem;
  }
}

.heading {
  font-size: 5rem;

  @include respond(tab-land) {
    font-size: 4rem;
  }
}

.subheading {
  font-size: 4rem;
  @include respond(tab-land) {
    font-size: 3rem;
  }
}

@import "animate.min";
@import "home";
@import "base";
@import "my-animations";
@import "navbar";
@import "footer";
@import "mixins";